<h1>All Lists</h1>
<% @lists.each do |list| %>
  <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to list.title, list %>
       </h4>
       <small>
        submitted <%= time_ago_in_words(list.created_at) %> ago by <%= list.user.name %><br/>
         <%= list.tasks.count %> Tasks
       </small>
     </div>
   </div>
<% end %>
