 <% if @task.destroyed? %>
   $('#task-' + <%= @task.id %>).fadeOut();
   $('.js-tasks-count').html("<%= @task.list.tasks.count %> tasks");
 <% else %>
   $('#task-' + <%= @task.id %>).append("<div class='alert alert-error'><%= flash[:error] %></div>");
 <% end %>