<h1>New Task</h1>

<div class="row">
  <div class="col-md-4">
    <p>Suggestions for tasks</p>
    <ul>
      <li>You have 7 days. Like The Ring.</li>
      <li>Get it done.</li>
      <li>The journey of a thousand miles begins with this task.</li>
    </ul>
  </div>
  <div class="col-md-8">
  <%= render partial: 'form', locals: { list: @list, task: @task } %>
   </div>
 </div>
