<center><div class="jumbotron", align=center>
  <div class="container">
  <h2>Welcome to Tater's To-Do</h2>
  <p>Time to get things done</p>
  <p>
    <% if current_user %>
    <span class="glyphicon glyphicon-ok"></span>
    <span class="glyphicon glyphicon-ok"></span>
    <span class="glyphicon glyphicon-ok"></span>
    <% else %>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-info' %>
    <%end%>
  </p>
</div>
</div></center>


<div class="column">
  <div class="col-md-4">
    <h3>Track your tasks.</h3>
  </div>
  <div class="col-md-4">
    <h3>Be on point.</h3>
  </div>
  <div class="col-md-4">
    <h3>Change the world.</h3>
  </div>
</div>