@import "bootstrap";

 .user-info {
   margin-top: 9px;
 }
 
 .nav {
   margin-top: 5px;
 }


 .top-padding {
 margin-top: 10px;
 }
 .p-padding{
 margin-top: 10px;
 font: strong
 }
 
 .j-padding {
 margin-bottom: 7px;
 border-bottom: 2 px solid;
 }

.left-pad {
  margin-left: 10px;
}

 .box-padding {
 margin-top: 7px;
 margin-bottom: 7px;
 }

 .center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: gray-light;
}

h3 {
  color: green;
}

h2 {
  color: orange;
}

.alerts {
  color: red;
}

.new {
  color: #5bc0de;
}

.newtable{
  width: 60%;
  border: 2px solid #1F1C54;
  border-bottom: 1 px solid;
  border-top: .5px solid;
}

.table {
  width: 60%;
  margin-top: 20px;
  color: #1F1C54;
  background-color: #ffffff;
  border: 2px solid #1F1C54;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #1F1C54;
}

.table > tbody + tbody {
  border-top: 1px solid #eeeeee;
}

.wells {
background-color: gray;  
}
